<% if current_user.liked_by?(@production.id) %>
  <td>
    <%= link_to '欲しいを外す', destroy_wishlist_path(@production), method: :delete, remote: true %>
    ：  <%= @production.wish_lists.count %>
  </td>
<% else %>
  <td>
    <%= link_to '欲しい', create_wishlist_path(@production), method: :post, remote: true %>
    ：  <%= @production.wish_lists.count %>
  </td>
<% end %>