<h1 class="text-center">
  - Wish List -
</h1>
<div class="bg-light">
  <div class="container marketing">
    <div class="row d-flex justify-content-center">
      <div class="col-10 mt-5">
        <table class="table">
          <thead>
            <tr>
              <th>Product_Name</th>
              <th>Poster</th>
            </tr>
          </thead>
          <tbody>
            <% @wishlist.each do |wishlist| %>
              <tr>
                <td>
                  <%= link_to shop_production_path(wishlist, wishlist.production.id), class:"list-link" do %>
                    <div class="list-text mt-2"><%= wishlist.production.production_name %></div>
                  <% end %>
                </td>
                <td class="pl-4">
                  <%= link_to shop_production_path(wishlist, wishlist.production.id), class:"list-link" do %>
                    <div class="list-text"><%= wishlist.user.nickname %></div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>