<div class=" text-center">
  <header class="logp-header">
    <%= link_to image_tag('twitter_header_photo_2.png' , size: '600x150'), "/" %>
  </header>

  <div class="main bg-light">
    <%= render partial: 'edit' %>
  </div>
</div>