.navbar {
  font-family: 'Carrois Gothic', sans-serif;
}

/* ナビゲーションバー */
.navbar .nav-link {
  color: #fff !important;
  font-size: 17px;
  font-weight: 700;
}

/* メイン部分 */
.sub-text {
  color: black;
}

/* 投稿画像部分 */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


/* ヘッダー */
.title {
  text-decoration: none;
}

/* メイン */
.top-img {
  background-image: url("section-img.jpg");
  background-size: cover;
  background-position: center;
}

/* 投稿入力ページ */
.indispensable {
  color: red
}

.new-img {
  width: 600px;
  object-fit: cover;
}

/* 一覧ページ */
.shop-text {
  text-decoration: none;
  color: black;
}