/** 共通部 **/
.navbar {
  font-family: 'Carrois Gothic', sans-serif;
}

/* ナビゲーションバー */
.navbar .nav-link {
  color: #fff !important;
  font-size: 17px;
  font-weight: 700;
}

/* メイン部分 */
.sub-text {
  color: black;
}

.top-img {
  background-image: url("section-img.jpg");
  background-size: cover;
  background-position: center;
}

/* ヘッダー */
.title {
  text-decoration: none;
}

/* 投稿フォーム */
.indispensable {
  color: red
}

.preview-image {
  width: 300px;
  object-fit: cover;
}

/* 一覧ページ */
.shop-text {
  text-decoration: none;
  color: black;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* 商品詳細ページ */
.img {
  width: 500px;
}

/* マイページ */
.mypage-link {
  text-decoration: none;
  color: black;
}

/* いいねボタン */
.like-link {
  text-decoration: none;
}

.like-link:hover {
  background-color: #fff !important;
}

.like-btn {
  font-size: 20px;
  color: #808080;
}

.unlike-btn {
  font-size: 20px;
  color: #e54747;
}