<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
  aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse me-4" id="navbarTogglerDemo02">
  <ul class="navbar-nav me-auto mb-3 mb-lg-0 gap-4">
    <li class="nav-item">
      <%= button_to "新規登録", new_user_registration_path, method: :get, class: "nav-link btn btn-primary" %>
    </li>
    <li class="nav-item">
      <%= button_to "ログイン", new_user_session_path,  method: :get, class: "nav-link btn btn-primary" %>
    </li>
  </ul>
</div>